<ion-view view-title="No encuentro algun libro">
  <ion-content>    
	<div class="card">
		<div class="item item-divider">
		No encuentro el libro que necesito en la biblioteca virtual		
		</div>
		
			<p>
			La biblioteca virtual se encuentra constantemente actualizando, por lo 
			cual, si no encuentras algun libro que estes buscando probablemente ya 
			este prestado o posiblemente no esté en existencia en la biblioteca fisica. </br>
			Acude directamente a la biblioteca fisica y pregunta para mayor información.
			</p>
		
	</div>	
  </ion-content>
</ion-view>