<ion-view view-title="Funciones de la aplicación">
  <ion-content>    
	<div class="card">
		<div class="item item-divider">
		Modulo de "Inicio"  					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Café"   					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Horario"  					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Biblioteca"   					
		</div>
		
			<p >
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Noticias"   					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Como llegar"  					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Contacto"  					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Preguntas frecuentes"   					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
		<div class="item item-divider">
		Modulo de "Configuración" 					
		</div>
		
			<p>
			Este modulo sirve para...
			</p>
		
	</div>	
  </ion-content>
</ion-view>