<ion-view view-title="Preguntas frecuentes">
  <ion-content>    
	<div class="card">
		<div class="item item-divider">
		Aquí se muestran las preguntas mas frecuentes acerca de CUTonalapps. Comunícate con nosotros si no encuentras tu respuesta aquí.
		<!--<div class="list card">

		<a href="#/app/browse" class="button icon-right ion-chevron-right ">
			<i class="icon ion-wrench"></i>
			Acerca de CUTonalapps
		</a>

		</div> -->
		
		<div class="list card">
			<a class="item item-icon-left item-icon-right " href="#/app/Funciones">
			<i class="icon ion-wrench"></i>
				<p>¿Para qué sirve la aplicación?</p>
			<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		
		<div class="list card">
			<a class="item item-icon-left item-icon-right " href="#/app/ErrorCuenta">
			<i class="icon ion-wrench"></i>
				<p>No puedo accesar con mi cuenta</p>
			<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		
		<div class="list card">
			<a class="item item-icon-left item-icon-right " href="#/app/ErrorHorario">
			<i class="icon ion-wrench"></i>
				<p>No logro ver mi horario</p>
			<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		
		<div class="list card">
			<a class="item item-icon-left item-icon-right " href="#/app/ErrorBiblioteca">
			<i class="icon ion-wrench"></i>
				<p>No encuentro el libro que necesito en la biblioteca virtual</p>
			<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		
		<div class="list card">
			<a class="item item-icon-left item-icon-right " href="#/app/AcercaDe">
			<i class="icon ion-wrench"></i>
				<p>Acerca de CUTonalapps</p>
			<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		
		</div>
	</div>	
  </ion-content>
</ion-view>